@model PokerGame.Models.Game
@{
    ViewBag.Title = "Poker";
}

<script type="text/javascript">
    
    var cardsList =  @Html.Raw(Json.Encode(Model.CardsInHand));

    $(document).ready(function () {        

        $('#btnNewGameFirst').click(function () {            
            $.ajax({
                url: '@Url.Action("shuffleCards","Home")',
                type: 'POST',
                dataType: "html",
                success: function (result)
                {
                    $('#dImages').html(result);
                    getSummary();
                }
            });
        });
    });   
</script>

<div class="container">
    <header class="jumbotron colorPanel">
        <div class="row text-center">
            <h1>Welcome to Poker Game</h1>
            <p>
                <button id="btnNewGameFirst" class="btn btn-success btn-lg">New Game</button>
            </p>
        </div>
    </header>
    <div id="dImages" class="row text-center" >
        @{Html.RenderPartial("~/Views/Home/Cards.cshtml", Model.CardsInHand, ViewData);}
    </div>    
</div>









